.App {
    text-align: center;
    font-family: 'Sinhala Sangam MN';
}


.ui.primary.button {
    background-color: #1B1C1D;
    width: 180px;
    height: 60px;
}

.ui.primary.button.inverted {
    background-color: #FFF;
    color: #1B1C1D;
}

.ui.secondary.menu {
    position: fixed;
    top: 0;
    width: 101%;
    z-index: 100;;
    padding: 5px 30px;
    background-color: #1B1C1D;
}

.ui.secondary.menu img {
    margin-right: 20px;
}

.ui.secondary.menu a {
    font-size: 18px;
    color: #FFF;
}

.ui.secondary.menu .active.item:hover, 
.ui.secondary.menu a.item:hover {
    color: #8d38ff;
}

.ui.secondary.menu a.item:active {
    color: inherit;
}

.ui.secondary.menu .active.item {
    color: #FFF;
}

.ui.secondary.menu .active.item:after {
    content: '';
    position: absolute;
    width: 60%;
    height: 4px;
    top: 36px;
    background-color: #8d38ff;
}

.ui.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}

#home-hero {
    height: 100vh;
    width: 100%;
    position: relative;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#home-hero h1 {
    font-size: 7rem;
    font-weight: bolder;
    -webkit-text-stroke: 2px #1B1C1D;
}

#hero-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/assets/images/home_background.jpg');
    z-index: -1;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}

.homePanel {
    height: 50vh;
    display: inline-flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFF;
    font-size: 52px;
    line-height: 60px;
    -webkit-text-stroke: 1px #1B1C1D;
    font-weight: bolder;
}

#cafe {
    background: url('/assets/images/cafe-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#booking {
    background: url('/assets/images/booking-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.storeProduct span {
    font-size: 26px;
    font-weight: bold;
}

.storeProduct .category {
    margin: 10px;
    color: #8a8a8a;
    text-align: left;
}

.storeProduct .code {
    color: #8a8a8a;
}

.storeProduct .price {
    margin-left: auto;
    margin-right: 10px;
}

.storeProduct p {
    margin: 10px 5px;
    font-size: 18px;
}

footer {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1B1C1D;
    color: #FFF;
}


@media only screen and (max-width: 767px) {
    .ui.container {
        margin-left: 0!important;
        margin-right: 0!important;
    }
    .ui.stackable.grid {
        width: 100%;
    }
}